* {
    box-sizing: border-box;
}

body{
	background-color: #453059;
	color: white;
}

.wrapper {
    width: 100%;
    margin: 15px auto;
    font-family: 'Poiret One', sans-serif;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    padding: 0.67em 0;
    margin: 0 auto;
    text-align: center;
}

fieldset {
    border: none;
    padding-bottom: 15px;
}

legend {
    padding: 0;
    font-size: 1.5em;
    margin: 10px auto;
}

.user_info label {
    float: left;
    width: 15%;
    clear: both;
    margin: auto 0;
    padding: 15px 0 35px;
}

.message {
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin: 5px auto;
}

input[type="text"],
input[type="email"] {
    float: right;
    width: 75%;
    border: none;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    background-color: #fff;
    color: #453059;
    border-radius: 5px;
}

textarea {
    border: none;
    height: auto;
    margin: 0 0 10px 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    color: #453059;
    border-radius: 5px;
}

button {
    padding: 19px 39px 18px 39px;
    background-color: #1c9890;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto 20px;
    border: none;
    display: block;
}

@media screen and (min-width: 1024px) {
    body {
    	background-color: #fff;
    }
    label {
        font-size: 1.5em;
    }
    .wrapper {
        width: 50%;
        max-width: 500px;
        background-color: #453059;
    }
    form {
        width: 90%;
        margin: 0 auto;
    }
}
